<button mat-button color="primary" (click)="(openNewCup())"><mat-icon>add</mat-icon>Agregar</button>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="cups" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td style="width: 5%;" mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="name">
            <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td style="width: 10%;" mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="volume">
            <th style="width: 15%;" mat-header-cell *matHeaderCellDef mat-sort-header> Volumen </th>
            <td style="width: 15%;" mat-cell *matCellDef="let row"> {{row.volume}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="material">
            <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header> Material </th>
            <td style="width: 10%;" mat-cell *matCellDef="let row"> {{row.material}} </td>
        </ng-container>

        <ng-container matColumnDef="fullname">
            <th style="width: 20%;" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre comercial </th>
            <td style="width: 20%;" mat-cell *matCellDef="let row"> {{row.fullname}} </td>
        </ng-container>

        <ng-container matColumnDef="cupsnumber">
            <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
            <td style="width: 10%;" mat-cell *matCellDef="let row"> {{row.cupsnumber}} </td>
        </ng-container>

        <ng-container matColumnDef="type.name">
            <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td style="width: 10%;" mat-cell *matCellDef="let row"> {{row.type.name}} </td>
        </ng-container>

        <ng-container matColumnDef="color.name">
            <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td style="width: 10%;" mat-cell *matCellDef="let row"> {{row.color.name}} </td>
        </ng-container>

        <ng-container matColumnDef="color.code">
            <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header> Codigo color </th>
            <td style="width: 10%;" mat-cell *matCellDef="let row"> {{row.color.code}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<kendo-dialog title="Nueva taza" *ngIf="opened" (close)="close('close')" [minWidth]="250" [width]="550">
    <form class="example-form" [formGroup]="cupForm" (ngSubmit)="saveCup()">
        <mat-form-field class="example-full-width">
            <mat-label>Nombre de la taza </mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="campoEsValido('name')">
                El nombre es requerido y mayor de 3 caracteres.
            </mat-error>
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Volumen</mat-label>
                        <input matInput placeholder="Ej. 200ml" formControlName="volume">
                        <mat-error *ngIf="campoEsValido('volume')">
                            El volumen es requerido y mayor de 2 caracteres.
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Material</mat-label>
                        <input matInput placeholder="Ej. porcelana" formControlName="material">
                        <mat-error *ngIf="campoEsValido('material')">
                            El material es requerido y mayor de 2 caracteres.
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Tipo</mat-label>
                <mat-select name="tipo" formControlName="type">
                    <mat-option *ngFor="let type of types" [value]="type">
                        {{type.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="campoEsValido('type')">
                    El tipo es requerido.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Color</mat-label>
                <mat-select name="color" formControlName="color">
                    <mat-option *ngFor="let color of colors" [value]="color">
                        {{color.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="campoEsValido('color')">
                    El color es requerido.
                </mat-error>
            </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0">
            <div class="container-input-file">
                <label class="custom-file">
                  <input type="file" formControlName="image" (change)="handleImage($event)" />
                </label>
            </div>
            <mat-error *ngIf="campoEsValido('image')">
                La imagen es requerida.
            </mat-error>
            <tr>
                <td>
                    <!-- <input type="image" formControlName="image" (change)="handleImage($event)"> -->
                    <!-- <mat-icon>cloud_upload</mat-icon><span>CHOOSE IMAGE</span>& -->
                </td>
            </tr>
        </table>
        <br>
        <div mat-dialog-actions>
            <button mat-button color="primary" (click)="close('cancel')">Cancelar orden</button>
            <span class="spacer"></span>
            <button mat-button color="primary" type="submit" cdkFocusInitial>Confirmar</button>
        </div>
    </form>
</kendo-dialog>